%btn{
  color: black;
  font-size: large;
  cursor: pointer;
}


.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;

  p{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
}

.start-btn{
  @extend %btn;
  height: 8vh;
  width: 8vw;
  font-size: large;
  font-weight: 600;
  background-color: white;
  box-shadow: 0.3vw 0.3vh 1vw black;
}

.quote-input-section{
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.voteButtons-div{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;

  button{
    @extend %btn;
    height: 4vh;
    width: 3vw;
    font-size: larger;
  }
}

.btn-ToVote{
  @extend %btn;
  width: 30vw;
  font-size: larger;
}

#div-quote{
  text-align: center;
  max-height: 30vh;
  max-width: 25vw;
  min-width: 25vw;
  background-color: white;

  p{
    font-size: larger;
    font-weight: 700;
  }
}

.hidden{
  display: none;
}